*{
    margin: 0;
}

header{
   height: 180px;
    background-color: #4ea0ff;
    background-image: url("../img/pattern.png");   
}

div.logo{   
  width: 200px;
  padding: 120px;
}

section{
    margin: 0 10px;
}

h1{
   font-size:3rem;
}

.testo{
    color: #888888;
}

a{
    text-decoration: none;
}

main{
    margin-top: 30px;
}

.centrali{
    margin: 30px 10px;
}

ul{
    padding-left: 10px;
}

table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

th {
    height: 70px;
    background-color: #5fbfe8;
    color: #fff;
    width: 50px;
    
}

td {
    height: 50px;
    vertical-align: bottom;
    width: 50px;
}

.blu{
    background-color: #b1e5f2;
}